/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Override default browser settings */
* {
    /* Zero padding unless specified */
    padding: 0;
    margin: 0;
    /* Include padding and border in element height/width */
    box-sizing: border-box;
}

/* General styles for whole page */
body {
    background-color: #ACC2FF;
    font-family:"Lato", sans-serif;
    /* Take up the entire page */
    min-height: 100vh;
    /* Enable flexbox styling on all body element children */
    display: flex;
    flex-direction: column;
}

/* All headings */
h1, h2, h3 {
    /* Set alternate font for headings */
    font-family:"Noto Sans", sans-serif;
}

/* Header styling */
header {
    /* Fill the full top of the screen */
    position: fixed;
    z-index: 100;
    width: 100%;
    /* Adjust flexbox parameters */
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    /* Adjust flexbox parameters */
    align-items: center;
    justify-content: flex-start;
}

/* Main content styling */
main {
    /* Take up any surplus space */
    flex: 1 0 auto;
    /* Push down somewhat so nav bar does not cover main content*/
    margin-top: 62px;
    /* Enable flex properties for any child elements */
    display: flex;
    flex-direction: column;
}