/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Override default browser settings */
* {
    /* Zero padding unless specified */
    padding: 0;
    margin: 0;
    /* Include padding and border in element height/width */
    box-sizing: border-box;
}

/* General styles for whole page */
body {
    background-color: #ACC2FF;
    color: #2d2933;
    font-family:"Lato", sans-serif;
    /* Take up the entire page */
    min-height: 100vh;
    /* Enable flexbox styling on all body element children */
    display: flex;
    flex-direction: column;
}

/* All headings */
h1, h2, h3 {
    /* Set alternate font for headings */
    font-family:"Noto Sans", sans-serif;
    /* Center text unless set otherwise */
    text-align: center;
}

/* All anchor elements */
a {
    /* Remove the change to default purple when clicked on */
    color: #2d2933;
    text-decoration: none;
}

/* Header styling */
header {
    /* Fill the full top of the screen */
    position: fixed;
    z-index: 100;
    width: 100%;
    /* Adjust flexbox parameters */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Div containing the logo and sometimes the back button */
.logo-box {
    display: flex;
    /* Adjust flexbox parameters */
    align-items: center;
    justify-content: flex-start;
}

/* Logo on both index and quiz pages */
.logo {
    /* Add some breathing room */
    padding: 0px 20px;
    /* Let it eat up most of the header */
    flex-grow: 5;
    /* Center the text */
    text-align: center;
}

/* Main content styling */
main {
    /* Take up any surplus space */
    flex: 1 0 auto;
    /* Push down somewhat so nav bar does not cover main content*/
    margin-top: 62px;
    /* Enable flex properties for any child elements */
    display: flex;
    flex-direction: column;
}

/* Index page styling */

#intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text inviting people to take the quiz */
#intro-text {
    font-size: 150%;
    padding: 20px;
}

/* Take The Quiz button */
#take-quiz-button {
    /* Add some room to the sides of the text */
    padding: 20px;
    /* Make much bigger */
    min-width: 6rem;
    min-height: 4rem;
    font-size: 200%;
}

/* Quiz page styling */

/* Button to go back to the homepage */
.back-button {
    padding: 10px 20px;
    /* Increase chevron size */
    font-size: 150%;
}

/* Div containing the entire main content quiz area */
#question-section {
    width: 100%;
}

/* "Question 1" heading */
#question-index {
    text-align: center;
    padding: 1rem 0;
}

/* Text of the question itself */
#question-text {
    text-align: center;
    padding: 1rem 0;
}

/* Div containing all the answer buttons */
#buttons-area {
    /* Stick to bottom of screen */
    position: fixed;
    bottom: 0%;
    /* Fill entire width of screen */
    width: 100%;
    /* Enable flex display of buttons */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

/* All answer buttons A to D */
.ans-button {
    width: 100%;
    min-height: 6rem;
    font-size: 150%;
    /* Outset border */
    border: 1px outset #23252c;
}

/* A button */
.button-blue {
    background-color: #69daff;
}

/* B button */
.button-pink {
    background-color: #ffacb8;
}

/* C button */
.button-grey {
    background-color: #424656;
    /* Invert text color, since it's hard to read otherwise */
    color: #fafafa;
}

/* D button */
.button-gold {
    background-color: #dfbf86;
}

#completed-popup {
    /* Don't show by default */
    display: none;
    /* Display in middle of screen */
    position: fixed;
    width: 80%;
    height: 30%;
    top: 20%;
    left: 10%;
    right: 10%;

    background-color: #ffacb8;

    /* Flex properties for children, but not set as flex yet */
    flex-direction: column;
    align-items: center;
}

/* Media query: tablets and larger (768px)*/
@media screen and (min-width: 768px) {

    /* Div containing the logo */
    .logo-box {
        /* Add a pink box around the logo */
        margin: 20px 0px;
        background-color:#ffacb8;
        /* Outset border */
        border: 1px outset #23252c;
    }

    /* Logo header */
    .logo {
        /* Increase text size to maintain readability */
        font-size: 250%;
    }

    /* Main content styling */
    main {
        /* Push down further, as the header is larger */
        margin-top: 92px;
    }

    /* Div containing the "go back" button */
    #back-box {
        /* Fix at top-left of screen */
        position: fixed;
        left: 1rem;
        top: 1rem;
        /* Make decently large */
        width: 4rem;
        height: 4rem;
        /* Pink to stand out */
        background-color: #ffacb8;
        /* Outset border */
        border: 1px outset #23252c;

        /* Place the button itself perfectly centered */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    /* Button to go back to homepage */
    .back-button {
        /* Expand button so the clickable area fills the box */
        padding: 20px 20px;
        /* Increase chevron size */
        font-size: 200%;
    }

    /* Div containing all the answer buttons */
    #buttons-area {
        /* Take up a smaller portion of the screen */
        width: 70%;
        /* Position in the middle of the screen, a bit above the bottom */
        left: 15%;
        right: 15%;
        bottom: 15%;
    }

    /* Answer buttons A to D */
    .ans-button {
        /* Place into a 2x2 grid */
        width: 50%;
    }
}